*{
    margin: 0;
    padding: 0;
}

.bar{
    background-color: rgb(125, 255, 212);
    margin: 22px;
    padding: 5px;
}
nav > ul{
    display: flex;
    margin: 25px 400px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

nav li{
    list-style: none;
    margin-right: 12px;
    padding: 5px;
}

nav li:hover{
    background-color: rgb(255, 255, 255);
}

nav li a{
    text-decoration: none;
    color: black;

}

nav ul .dropdown{
    display: none;
    position: absolute;
}

nav li:hover .dropdown{
    display: block;
    background-color: lightgoldenrodyellow;
}

.imgsec{
    margin: 22px;
}

.psec{
    margin: 22px;

}
.psec > h1{
    text-align: center;
    margin-bottom: 17px;
}
table, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 7px;    
}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 97%;
    margin: 10px;
   
    
}

tr, th{
        border: 2px solid black;
        border-collapse: collapse;  
    
}

.videosec{
    display: flex;
    padding-left: 45px;
}
.fvideo{
    border: 7px solid tomato;
    margin-right: 20px;
    border-radius: 7px;
}
.lvideo{
    border: 7px solid tomato;
    border-radius: 7px;
}
.framehed{
    text-align: center;
    color: tomato;
    margin: 27px;
    text-decoration: underline;
}
